@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Anonymous Pro", monospace;
  min-height: 100vh;
}

.min-h-mostscreen {
  min-height: 90vh;
}

.max-h-mostscreen {
  max-height: 90vh;
}

.note-height {
  max-height: 82vh;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  margin:auto;
  background: 
  #d9dce0;
  border-radius: 100vh;
  border: 3px solid 
  #d9dce0;
}
