@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Anonymous Pro", monospace;
  min-height: 100vh;
}

.min-h-mostscreen {
  min-height: 90vh;
}

.max-h-mostscreen {
  max-height: 90vh;
}

.note-height {
  max-height: 82vh;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: auto;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  margin:auto;
  background: 
  #d9dce0;
  border-radius: 100vh;
  border: 3px solid 
  #d9dce0;
}

.note-border {
  border-bottom: 2px solid black;
  box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.4);
}

.note-view {
  box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.6);
}

.border-right {
  border-right: 3px solid rgba(73, 102, 104, 0.3);
  border-style: ridge;
}